@model hts.Models.DoktorYakinHastaYakinMesaj
@{
    ViewBag.Title = "GelenKutusu";
    Layout = "~/Views/Shared/YakinLayout.cshtml";
}

<h2>GelenKutusu</h2>

<table class="table table-striped" style="color:darkcyan">
    <thead>
        <tr>
            <th>
                Doktor Adı
            </th>
            <th>
                Hasta Adı
            </th>
            <th>
                Mesaj
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var mesaj in Model.mesajlar)
        {
            foreach (var yakin in Model.yakinlar)
            {
                foreach (var hasta in Model.hastalar)
                {
                    foreach (var doktor in Model.doktorlar)
                    {
                        if (mesaj.YakinTbyakinTc == yakin.yakinTc && yakin.HastaTbhastaTc == hasta.hastaTc && hasta.DoktorTbdoktorTc == doktor.doktorTc)
                        {
                            <tr>
                                <td>
                                    @doktor.adSoyad
                                </td>
                                <td>
                                    @hasta.adSoyad
                                </td>
                                <td>
                                    @mesaj.mesaj
                                </td>
                                <td>

                                    @Html.ActionLink("Cevapla", "GelenMesajiYaz", new { doktorTc = doktor.doktorTc, yakinTc = yakin.yakinTc }, new { @class = "btn btn-warning btn-xs" })
                                </td>
                            </tr>
                        }

                    }
                }
            }
        }

    </tbody>
</table>

