
@model hts.Models.DoktorBileklikHasta
@{
    ViewBag.Title = "Bileklik";
    Layout = "/Views/Shared/DoktorLayout.cshtml";
}

<table class="table table-striped" style="color:darkcyan">
    <thead>
        <tr >
            <th>
                ıd
            </th>
            <th>
                ad soyad
            </th>

            <th>
                verilebilme Durumu
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>

        @foreach (var doktor in Model.doktorlar)
        {
            foreach (var hasta in Model.hastalar)
            {
                foreach (var bileklik in Model.bileklikler)
                {


                    if (doktor.doktorTc == hasta.DoktorTbdoktorTc && hasta.hastaTc == bileklik.HastaTbhastaTc)
                    {
                        <tr>
                            <td>
                                @bileklik.Id
                            </td>
                            <td>
                                @hasta.adSoyad
                            </td>
                            <td>
                                @bileklik.verilebilmeDurumu
                            </td>
                            <td>
                               
                                @Html.ActionLink("Düzenle", "BileklikDuzenle", new { id = bileklik.Id,did=doktor.doktorTc }, new { @class = "btn btn-warning btn-xs" })
                            </td>
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>







